*{
    margin:0;
    padding:0;
    border: none;
}
body {
    font-family: "Lucida Console", "Courier New", "monospace";
}
#intro{
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
   /* justify-content: center;*/
    align-items: center;
    flex-direction: column;
    z-index: 1;
    flex: 1 100%;
    overflow: auto;
}

#intro_title{
    position:relative;
    color:red;
    top: 30%;
}
#intro_title h1{
    text-align: center;
}
/*nav*/
#menu{
position: relative;
    top: 6vh;
    font-size: 140%;
    letter-spacing: 4px;
    color:greenyellow;
}
#menu li{
    float:left;
    list-style-type: none;
   padding:30px;
   background-color: blueviolet;
   border-radius: 20%;
 margin: 0 3vw;
   -webkit-box-sizing: border-box; 
 -moz-box-sizing: border-box;  
   box-sizing: border-box;
}
#menu a {
    text-decoration: none;
    color:inherit;
}

/* for medium screen sizes from 950px */
@media screen and (max-width: 950px) {

    #intro_title{
        width:90%;
        top:10%;
    }
    #menu li{
        margin: 2% 0;
         clear:both;
        width:100%;
    }

}

@media screen and (max-height: 520px) {
    #intro_title{
       margin-bottom: 100px;
    }
}
