*{
    margin:0;
    padding:0;
    border: none;
}
html{height: 100%;}
body {
    font-family: "Lucida Console", "Courier New", "monospace";
    background:#696969;
    /* background: linear-gradient(180deg, rgb(14, 0, 255) 0%, rgb(46, 46, 255) 0%, rgba(255,255,255,1) 100%); */
    background: linear-gradient(180deg, rgb(105, 105, 105) 0%, rgb(255, 255, 255) 100%, rgba(255,255,255,1) 100%);
    /* height: 100%; */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    animation-name: fadein;
    animation-duration: 2s;
}
#intro{
    position: absolute;
    width: 100%; 
    display: flex;
   justify-content: center;
    overflow: visible;
    height: 100%; 
}
#intro_title{
    position:relative;
    color:white;
    top: 30%;
    height: fit-content;
}
#intro_title h1{
    text-align: center;
    font-size: 400%;
}
/*nav*/
#menu{
position: relative;
    top: 6vh;
    font-size: 140%;
    letter-spacing: 4px;
    color:#696969;
}
#menu li{
    text-align: center;
    float:left;
    list-style-type: none;
   padding:20px 15px;
   background-color: rgb(255, 230, 230);
   border-radius: 50px;
 margin: 0 0.5vw;
   -webkit-box-sizing: border-box; 
 -moz-box-sizing: border-box;  
   box-sizing: border-box;
   min-width: 220px;
}
#menu a {
    text-decoration: none;
    color:inherit;
}
#menu li:hover {
    color: rgb(255, 230, 230);
    background-color:#696969;
}
#school_logo{
    background-image: url(../images/logo_lpsb.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
    top: 0;
    right: 0;
    /* max-width: 10em;
    max-height: 10em; */
    position: absolute;
    min-height: 5em;
    min-width: 5em;
    transition: width 2s, height 2s,
}
#school_logo:hover{
    width: 7em;
  height: 7em;
}
@keyframes fadein {
    0%   { opacity: 0.0;}
    10%   { opacity: 0.1;}
    20%  { opacity: 0.2;}
    30%  { opacity: 0.3;}
    40%  { opacity: 0.4;}
    500% { opacity: 0.5;}
    60%  { opacity: 0.6;}
    70%  { opacity: 0.7;}
    80%  { opacity: 0.8;}
    90%  { opacity: 0.9;}
    100% { opacity: 1;}
  }
/* for medium screen sizes from 950px */
@media screen and (max-width: 950px) {
    #intro_title{
        width:90%;
        top:20%;
    }
    #menu li{
        padding: 20px;
        margin: 2% 0;
         clear:both;
        width:100%;
    }
    #intro{
        height: fit-content;
    }
    #intro_title h1{
    max-width: 80vw;
    margin: 0 auto;
    }
}
/* Spinner */
.spinner {
    position: absolute;
    left: 0;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px dashed maroon;
    border-bottom: 1px dashed maroon;
    border-left: 1px dashed maroon;
    border-right: 1px solid maroon;
    width: 2em;
    height: 2em;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    z-index: -2;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media screen and (max-height: 680px) {
    #intro_title{
       margin-bottom: 50px;
    }
}
/* for large phone screen sizes from 420px */
@media screen and (max-width: 470px) {
    #intro_title h1{
        font-size: 300%;
       margin-top: clamp(100px, 22%, 200px);
       
    }
}
/* the page styling */
#large_nav{
background-color:rgb(110, 110, 110);
height:100%;
width:120px;
position:fixed!important;
z-index:1;
overflow:auto;
font-size:12px!important;
text-align:center!important;
}
#large_nav img{
opacity: 0.5;
vertical-align:middle;
}
#large_nav .nav-item{
    width:100%;
    display:block;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
box-sizing: border-box;
    
}
.nav-item{
    padding:20px 5px!important;
line-height: 2;
    border:none;
    margin: 10px 0;
    display:inline-block;
    /* padding:8px 16px; */
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    font-size: 14px;
    color:white;
   

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.nav-item:disabled{
    cursor:not-allowed;
    opacity:0.3;}

    .nav-item:hover{
        /* color:#000!important; */
        color:#696969;
        background-color: white!important;
        /* background-color: rgba(200, 200, 200,0.5)!important;  */
    }

#small_nav{
    background-color:#696969;
    opacity: 0.8;
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
    overflow:hidden;
}
#small_nav span{
    padding:8px 0px;
    float:left;
    /* width:auto; */
    border:none;
    display:block;
    outline:0; 
    text-align:center!important;
    font-size:16px!important;
    width:25% !important;
    color: white;
}
#small_nav span a {
color:inherit;
text-align: center;
margin:auto;
}

#small_nav:before,#small_nav:after{
    content:"";
    display:table;
    clear:both
}
#small_nav span:hover{
    opacity:1;
    background-color: white;
    color: #696969;
}
#main_content{
    background: white;
     /* background: linear-gradient(180deg, rgb(200, 200, 200) 0%, rgb(255, 255, 255) 100%, rgba(255,255,255,1) 100%);  */
    margin-left: 120px;
    transition:margin-left 1s;
    padding:12px 24px!important;
    /* flex */
    display: flex;
    flex-flow: column;
    height: 100%;
    box-sizing: border-box;
}
#page_header{
    padding:0.01em 16px;
    padding-top:32px!important;
    padding-bottom:32px!important;
    text-align:center!important;
    /* flex */
    flex: 0 1 auto;
   /* color:rgb(110, 110, 110); */
   color:black;
    
}
#page_header h1{font-size:64px!important;}
#page_header p{ color:#696969;}
#page_header:after,#page_header:before{
content:"";
display:table;
clear:both;
}
#page_section{
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
    text-align:justify;
    padding-top:0px!important;
    padding-bottom:64px!important;
    /* flex */
    flex: 1 1 auto;
    width:100%;
}
#page_section h1{
    font-size:32px!important;
    padding-top:12px!important;
    padding-bottom:12px!important;
    border-bottom: 2px solid black;
    margin-bottom: 32px;
}
#page_footer{
    background-color: red;
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
    padding-top:64px!important;
    padding-bottom:64px!important;
    font-size:24px!important;
    /* flex */
    flex: 0 1 auto;
    width:100%;
}

@media screen and (max-width:600px){
    #large_nav{display:none!important;}
    #main_content {margin-left: 0;}
}
@media (min-width:993px){
    #small_nav{display:none!important}
}
@media (max-width:992px) and (min-width:601px){#small_nav{display:none!important}}
#page_section{
    text-align:left;
}
.spec_item{
    /* background-color: lightblue; */
    border-bottom: 2px solid black;
    padding: 5px;
    margin-bottom: 24px;
}
.spec_item h2{
    font-size: x-large;
}
details > summary {
    /* padding: 4px;
    width: 200px;
    
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer; */
    /* border: 2px solid black; */
    background-color: #eeeeee;
  }
  details{

    overflow-x: auto !important;
    overflow-y: hidden !important;

  }
  details > table {
    /* 
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb; */
    margin: 0 auto;
    width:90%;
    /* min-width: 800px; */
    border: 2px solid black;
  }
  details td,th{
    padding: 5px;
    width:50%;
  }
  details th{
    background-color: #9a4e98;
  }
  details td{
    background-color: #ffffff;
  }
  details li{
    list-style-position: inside;
  }
  details table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }

  details[open] summary::before {
    content: "Hide Specification Content";
  }
  details:not([open]) summary::after {
    content: "Show Specification Content";
  }

  @media screen and (max-width:600px){
    details td{
        width:100vw;
      }
      details > table {
        width:100%;
        min-width: 200%;
      }
}